header {
    width: 100%;
    background-color: linear-gradient(#e66465, #9198e5);
  }

  .card, .card header, .card img {
    flex-direction: row row-reverse column column-reverse;
  }
  
.box {
    width: 200px;
    height: 200px
  }
.css snippet{
user-select: all;
}
  .lesson {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #fffacd;
    font-size: 24px;
    text-align: left;
}

/* List items in navigation bar */
li {
    /* Sets display to inline */
    display: inline;
    list-style-type: none;
    font-size: 40px;
  }
  
  /* Boxes */
  img {
    /* Sets display to block */
    display: block;
    /*Sets margins to center elements*/
  margin: 20px;
  /* Padding property */
  padding: 20px;
  /* Border property */
  border: 9px solid darkblue;
  }

 
/* desktop media adjust */
@media screen and (max-width: 1200px) {
    header {
      background: #772014;
    }
  }
  
  /* tablet and laptop media adjust*/
  @media screen and (max-width: 1024px) {
    nav {
      background-color: #bb8588;
    }
    
  }
  
  /* mobile Small smartphones media adjust */
  @media screen and (max-width: 768px) {
    .sample-img {
      background-color: #8ac4ff;
      
    }
  }

  
.products {
    display: flex;
    flex-direction: column; 
    /* Centers along the main axis determined by flex-direction */
    justify-content: center;/* left to right*/
    /* Centers along the opposite axis */
    align-items: center;/* top to bottom*/
    width: 90%;
    /* Uses the height of the viewport */
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
  }
  